<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.train.member.mapper.PassengerMapper">
  <resultMap id="BaseResultMap" type="com.study.train.member.domain.Passenger">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.study.train.member.domain.Passenger" flushCache="true" useGeneratedKeys="true" >
    insert into passenger values(#{id},#{memberId},#{name},#{idCard},#{type},#{createTime},#{updateTime})
  </insert>
  <select id="queryList" parameterType="com.study.train.member.req.PassengerQueryReq"  resultType="com.study.train.member.domain.Passenger" useCache="true">
    select id,member_id,name,id_card,type,create_time,update_time  from passenger
    <if test="memberId!=null">where member_id = #{memberId}</if>
    order by create_time desc
  </select>
  <update id="updateById" parameterType="com.study.train.member.domain.Passenger" flushCache="true">
    update passenger set name = #{name} , id_card = #{idCard} , type = #{type} ,update_time = #{updateTime} where id = #{id}
  </update>

</mapper>